table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: lightgray;
}
tr:nth-child(odd) {
    background-color: white;
}